<div class="form-group login text-center border border-secondary bg-secondary">
  <h2>Add your review!</h2>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>

     <label for="starRating">Star rating</label>
    <select class="form-control" id="starRating">
      <option>⭐⭐⭐⭐⭐</option>
      <option>⭐⭐⭐⭐</option>
      <option>⭐⭐⭐</option>
      <option>⭐⭐</option>
      <option>⭐</option>
    </select>

    <div class="form-group">
      <label for="inputReview">Review</label>
      <input type="text" class="form-control" placeholder="My meal was...">
    </div>

   
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>