<div class="form-group login text-center border border-secondary bg-secondary">
  <h2>Add your review!</h2>
  <form>
        <label for="review_name">Review Title</label>
        <input type="email" class="form-control" id="review_name" placeholder="Title">


    <label for="foodSelect">Select a Food</label>
    <select class="form-control" id="foodSelect">
    </select>

     <label for="starRating">Star rating</label>
    <select class="form-control" id="starRating">
      <option>⭐⭐⭐⭐⭐</option>
      <option>⭐⭐⭐⭐</option>
      <option>⭐⭐⭐</option>
      <option>⭐⭐</option>
      <option>⭐</option>
    </select>



    <div class="form-group">
      <label for="inputReview">Description</label>
      <input type="text" class="form-control" id= "review_description" placeholder="My meal was...">
    </div>

   
</div>

<button type="submit" class="btn btn-primary" id="submit-review">Submit</button>
</form>

</div>