
<section class="bg-secondary">
    {{#each foods as |food| }}
    <br/>
    <h2 class= "text-dark text-center rounded font-weight-bold " >{{food_name}}</h2>
    <p class= "text-dark text-center"> {{food_price}}</p>
    <img class= "mx-auto d-block bg-secondary img-thumbnail " 
         style="width: 50%"
         src="/images/Entrees/{{food_img}}" 
         alt="{{food_description}}">
   <br/>
   {{/each}}
     
    
    
  </div>
</section>
