<div class="wrapper">
    <div class="container">
        <br/>
     <div class="form-group login text-center border border-secondary bg-secondary">
        <h2 class="login">Login</h2>

        <form class="form login-form">
            <div class="form-group logindiv">
                
                <input class="form-input" type="text" id="email-login" placeholder="Email"/>
            </div>
            <div class="form-group logindiv">
                
                <input class="form-input" type="password" id="password-login" placeholder="Password"/>
            </div>
            <div class="form-group btnplc">
                <button class="action subbtn btn-dark" type="submit">Login</button>
            </div>
        </form>
     </div>

    <div class="form-group signup text-center border border-secondary bg-secondary">
        <h2 class="signup">Signup</h2>

        <form class="form signup-form">
            <div class="form-group logindiv">
                
                <input class="form-input" type="text" id="name-signup" placeholder="Username"/>
            </div>
            <div class="form-group logindiv">
                
                <input class="form-input " type="text" id="email-signup" placeholder="Email"/>
            </div>
            <div class="form-group logindiv">
                
                <input class="form-input " type="password" id="password-signup" placeholder="password"/>
            </div>
            <div class="form-group btnplc">
                <button class="action subbtn btn-dark " type="submit">Signup</button>
            </div>
        </form>
    </div>
    </div>
</div>

<script src="./js/login.js"></script>

