
  *{
    margin: 0;
    padding: 0;
  }
  
  body{
    background: #e9eaea;
    font-family: roboto;
    user-select: none;
    margin:0%
  }

  
  .container{
    width: 450px;
    margin: 30px auto;
  }
  
  .signup,
  .login{
    width: 50%;
    background: #fff;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .signup-form,
  .login-form{
    background: rgb(5, 2, 2);
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
  }
  

  
  img{
    width:100%;
 }
 .centered {
     position: absolute;
     top: 25%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 .welcome {
     position: relative;
     top: 5%;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
